.featuredProducts{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 30px;
  

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
      
        h1{
            flex: 2;
        }
        p{
            flex : 3 ; 
            color: rgb(36, 71, 60);
        }
    }
    .bottom{
       display: grid;
       grid-template-columns: auto auto auto auto;
       
    }
}

@media (max-width : 768px){
    .featuredProducts{
        .top{
            gap: 10px;
            flex-direction: column;
        }
        .bottom{
            grid-template-columns: auto auto;
            gap: 10px;
          
        }
    }
}

