.navbar {
  height: 70px;
  background-color: #e0e1d1;
  position: sticky;
  top: 0;
  z-index: 20;

  .wrapper {
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    display: flex;
   
   
  
    .item-logo{
      img{

        height: 50px;
        width: 50px;
        border-radius: 25px;
      }
    }

    .icons {
      display: flex;
      gap: 15px;
      color: #03685b;
      cursor: pointer;

      .cardIcon {
        position: relative;

        span {
          font-size: 12px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #03685b;
          color: rgb(247, 243, 240);
          position: absolute;
          right: -10px;
          top: -10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

