.navbar {
  height: 75px;
  background-color: #e0e1d1;
 position: sticky;
 top: 0;
 z-index: 20;
 

  .wrapper {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .item {
      display: flex;
      align-items: center;
      font-size: 18px;
    }
    .left {
      display: flex;
      align-items: center;
      gap: 25px;
      .logo {
        height: 28px;
        width: 28px;
      }
    }
    .center {
      font-size: 30px;
      letter-spacing: 2;
    }
   
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;


      .icons {
        display: flex;
        gap: 15px;
        color: #03685b;
        cursor: pointer;

        .cardIcon {
          position: relative;

          span {
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #03685b;
            color: rgb(247, 243, 240);
            position: absolute;
            right: -10px;
            top: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .nav-icon{
      display: none;
    }
  }
}

@media  (max-width: 768px) {
  .wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .wrapper .show-menu {
    background-color: #e0e1d1;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-icon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100% , 60%); 
  }
}