.swiper{
    width: 100%;
    height: 85vh;
    position: relative;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
  

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content : center ; 
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items : center;
    align-items: center;
}
.container{

    display: flex;
   align-items: center;
   justify-content: center;

.fix{
    
    position: absolute;
    object-fit: cover;
  
    img{
        height: 300px;
        width: 365px;

   }
}
}
$breakpoint-tablet : 768px ; 
@media (max-width : $breakpoint-tablet){
  
    .container{
    .fix{
   
        img{
            height: 200px;
            width: 265px;
    
       }
    }
    }
           
              
    
}